  body{
        
        background-color: rgb(118, 138, 29);
        
      }
  
 
  h1 {
    text-align: center;
  }
  
  h1 {
    box-shadow: royalblue ;
  }
  img {
    max-width: 30%;
    max-height: 30%;
    margin: 0 38%;
  }
  
  
  

  


      
      
      



